# Environment
*.swp
# package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# macOS
.DS_Store

# PyCharm
.idea/

# pyenv
.python-version

# VSCode
.vscode
.history/
*.vsix

node_modules/
