# Environment
*.swp
# package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# macOS
.DS_Store

# PyCharm
.idea/

# pyenv
.python-version

# VSCode
.vscode
.history/
*.vsix

node_modules/
infrastructure/aws-cdk/config.yaml
business-logic/flink-event-processing/dependency-reduced-pom.xml
business-logic/flink-event-processing/target/deploy.zip
business-logic/flink-event-processing/target/pyflink-dependencies.jar
business-logic/flink-event-processing/target/classes/original-pyflink-dependencies.jar
business-logic/flink-event-processing/target/maven-archiver/pom.properties
infrastructure/aws-cdk/cdk.context.json
